<!DOCTYPE html> 
<html lang = "en">
<head>
	<meta charset="UTF-8">
	<title>Numerology App</title>
</head>
<body>
	<header></header>
	<main> 
		<p>Your numerology number is <%= yield %> </p> 
	</main> 
	<footer></footer>
</body> 
</html> 

